/* .carousel .carousel-indicators li {
  background-color: #fff000 !important;
  background-color: rgba(227, 22, 22, 0.25) !important;
  border-color: #354259
} */
.carousel .carousel-indicators .active {
  background-color: #354259;
}
